*.iml
.idea
.temp
*.iws
*.log
*.cache
.DS_Store
*.n
*.js
*.js.map
*.zip
.haxelib/
out/
node_modules/
log/
dump/
target/
haxe3/
callgrind.*
./debug
lcov.info
lcovtest
.unittest/**

codecov.json
coverage.json
deprecated/
resources/schema.xml

core
test/formatter-result.txt
test/single-run.txt
result.txt
**.hxtest.disabled
