*.iml
.idea
.temp
*.iws
*.log
*.cache
.DS_Store
*.n
*.js
*.js.map
*.zip
.haxelib/
out/
node_modules
.DS_Store
log/
target/
callgrind.*
debug/
lcov/
lcovtest

coverage.json
deprecated/
resources/schema.xml

core
test/formatter-result.txt
test/single-run.txt
result.txt
